html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 16px;
  color: #140a32;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: inherit;
}

input[type='text'],
input[type='number'] {
  font-family: inherit;
  font-size: 16px;
  color: #2f2b43;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 10px;
  line-height: 160%;
}

.header {
  padding: 40px 0;
  margin-bottom: 40px;
}
.container {
  max-width: 1150px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header__top-img {
}

.header__top-wrapper {
  max-width: 427px;
  width: 100%;
  position: relative;
}

.header__top-wrapper::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/search.svg');
  right: 20px;
  top: 12px;
}

.header__top-search {
  width: 100%;
  border-radius: 14px;
  border: none;
  background-color: rgba(47, 43, 67, 0.04);
  padding: 15px 55px 15px 15px;
  position: relative;
}

.header__top-btn {
  font-weight: 600;
  background-color: #33836e;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 54px;
  padding-right: 20px;
  color: #fff;
  position: relative;
}

.header__top-btn::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/question.svg');
  left: 20px;
}

.header__top-ul {
}
.header__top-phone {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
.header__top-subphone {
  color: #2f2b43;
  opacity: 0.5;
}
.header__bottom {
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__btn-wrapper {
  display: flex;
  gap: 15px;
}
.nav-btn {
  font-size: 16px;
  border: 1px solid rgba(47, 43, 67, 0.2);
  border-radius: 10px;
  padding: 11px 20px 11px 54px;
  position: relative;
}

.nav-btn::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/phone.svg');
  left: 21px;
}

.nav-telegram {
  font-size: 16px;
  border: 1px solid rgba(47, 43, 67, 0.2);
  border-radius: 10px;
  padding: 11px 20px 11px 54px;
  position: relative;
}
.nav-telegram::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/telegram.svg');
  left: 21px;
}
.nav__panel {
  display: flex;
  gap: 30px;
}
.nav__panel-li {
}
.nav__panel-a {
}
.nav__login {
  position: relative;
  padding-left: 30px;
}

.nav__login::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/user.svg');
  left: 0;
  top: -3px;
}
.nav__login-a {
}

.main {
}
.bread-crumbs {
}
.container {
}
.bread-crumbs-ul {
  display: flex;
  gap: 10px;
}
.bread-crumbs-li {
  color: #2f2b43;
  opacity: 0.5;
}
.bread-crumbs-a {
}

.promo {
  margin-bottom: 90px;
}
.container {
}
.promo__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__content {
}
.promo__content-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 15px;
}
.promo__content-subtitle {
  font-size: 16px;
  max-width: 657px;
  line-height: 160%;
  margin-bottom: 30px;
}
.promo__content-inner {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.promno__content-btn {
  background-color: #33836e;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  padding: 16px 36px;
}
.promo__content-ul {
}
.promo__content-phone {
  font-weight: 700;
  font-size: 24px;
  color: #33836e;
  padding-bottom: 6px;
  border-bottom: 2px solid #33836e;
  justify-self: start;
  margin-bottom: 5px;
}
.promo__content-subphone {
  font-size: 12px;
  opacity: 0.5;
}
.promo__content-list {
  display: flex;
  gap: 30px;
}
.promo__content-item {
  padding-left: 35px;
}

.promo__content-item--time {
  position: relative;
}

.promo__content-item--time::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/time.svg');
  left: 0;
  top: -3px;
}

.promo__content-item--free {
  position: relative;
}

.promo__content-item--free::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/free.svg');
  left: 0;
  top: -3px;
}

.promo__content-item--anonym {
  position: relative;
}

.promo__content-item--anonym::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/anonym.svg');
  left: 0;
  top: -3px;
}

.promo__content-item--fast {
  position: relative;
}

.promo__content-item--fast::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/fast.svg');
  left: 0;
  top: -3px;
}

.promo__inner-img {
}

.help {
  margin-bottom: 80px;
}

.free {
  margin-bottom: 80px;
}
.container {
}
.title {
}
.subtitle {
}
.free__inner {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.free__box {
  max-width: 270px;
  width: 100%;
  border: 1px solid rgba(47, 43, 67, 0.2);
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.free__box--call {
  position: relative;
}

.free__box--call::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/call.svg');
  top: 30px;
  left: 20px;
}

.free__box--reply {
  position: relative;
}

.free__box--reply::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/reply.svg');
  top: 30px;
  left: 20px;
}

.free__box--chat {
  position: relative;
}

.free__box--chat::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/chat.svg');
  top: 30px;
  left: 20px;
}

.free__box--building {
  position: relative;
}

.free__box--building::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../images/building.svg');
  top: 30px;
  left: 20px;
}

.free__box-subtitle {
  margin-bottom: 15px;
}

.free__box-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.free__box-btn {
  font-size: 16px;
  font-weight: 600;
  color: #33836e;
  padding: 0;
}

.information {
  margin-bottom: 80px;
}
.container {
}
.information__inner {
  min-height: 200px;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  position: relative;
}
.information__left {
  position: absolute;
  left: 313px;
  top: 50px;
}
.information__left-title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.information__left-phone {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}
.information__right {
  position: absolute;
  top: 38px;
  right: 50px;
}
.information__right-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.information__right-box {
  position: relative;
}

.information__right-img--two {
  position: absolute;
  left: 33px;
}
.information__right-img--three {
  position: absolute;
  left: 66px;
}
.information__right-img--four {
  position: absolute;
  left: 99px;
}
.information__right-img--six {
  position: absolute;
  left: 132px;
}
.information__right-img--seven {
  position: absolute;
  left: 165px;
}

.count-lawyer {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50px;
  top: 0;
  left: 198px;
}

.count-lawyer span {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.5;
}

.our-help {
  margin-bottom: 80px;
}
.container {
}
.title {
}
.our-help__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.our-help__box {
  border-radius: 20px;
  border: 1px solid rgba(47, 43, 67, 0.2);
  display: flex;
  align-items: center;
  padding: 35px 30px;
  gap: 20px;
}
.our-help__box-p {
  font-size: 16px;
  line-height: 150%;
}

.our-help__box-p span {
  font-size: 16px;
  font-weight: 700;
}

.why-we {
  margin-bottom: 80px;
}
.container {
}
.title {
}
.subtitle {
}
.why-we__subtitle {
  max-width: 560px;
  margin-bottom: 30px;
}
.why-we__inner {
  display: flex;
  gap: 40px;
  margin-bottom: 88px;
}
.why-we__list {
}
.why-we__green {
  font-size: 28px;
  color: #33836e;
  font-weight: 700;
  margin-bottom: 10px;
}
.why-we__black {
}
.why-we__call {
  background-color: #33836e;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  min-height: 200px;
  align-items: center;
  position: relative;
}

.why-we__call-decor {
  position: absolute;
  right: 0;
  top: -385px;
}
.why-we__call-left {
}
.why-we__call-title {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}
.why-we__call-phone {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}
.why-we__call-right {
}
.why-we__call-order {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}

.why-we-panel {
  position: relative;
  margin-bottom: 22px;
  display: flex;
  gap: 15px;
}

.why-we-panel::before {
  content: 'Номер телефона';
  font-family: 'Open Sans', serif;
  font-size: 12px;
  opacity: 0.4;
  position: absolute;
  left: 16px;
  top: 7px;
}

.why-we__input {
  max-width: 250px;
  width: 100%;
  padding: 16px 16px 8px 16px;
  min-height: 56px;
}
.why-we__btn {
  max-width: 207px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.why-we__call-politic {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  opacity: 0.5;
}

.special {
  margin-bottom: 80px;
}
.container {
}
.title {
}
.special__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.special__box {
  border: 1px solid rgba(47, 43, 67, 0.2);
  border-radius: 20px;
  min-height: 287px;
  padding: 20px;
}
.special__title {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.special__box-img {
}
.special__box-title {
  border-bottom: 1px solid #33836e;
}
.special__box-subtitle {
}

.question {
  margin-bottom: 80px;
}
.container {
}
.question__inner {
  background-color: rgba(47, 43, 67, 0.04);
  display: flex;
  gap: 40px;
  padding: 51px 10px 61px 53px;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.question__title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
  max-width: 295px;
}
.question__center {
  position: relative;
}

.question__center::before {
  content: 'Номер телефона';
  position: absolute;
  font-size: 12px;
  opacity: 0.4;
  top: 7px;
  left: 16px;
}
.question__panel {
  display: flex;
  gap: 15px;
  min-height: 56px;
  margin-bottom: 18px;
}
.question__panel-input {
  max-width: 201px;
  width: 100%;
  padding: 26px 16px 8px 16px;
  border: 1px solid rgba(47, 43, 67, 0.2);
  border-radius: 10px;
}
.question__panel-btn {
  font-size: 16px;
  color: #fff;
  background-color: #33836e;
  border-radius: 10px;
  padding: 16px 36px;
}
.question__center-p {
  font-size: 12px;
  opacity: 0.4;
  max-width: 292px;
}

.question__inner-img {
  position: absolute;
  right: 0;
}

.seo {
  margin-bottom: 80px;
}
.container {
}
.title {
}
.subtitle {
}
.seo-hidden {
  display: none;
}
.seo_btn {
  margin-top: 46px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #33836e;
  font-size: 16px;
  background-color: #e0ece9;
  padding: 16px;
  border-radius: 10px;
}

.reviews {
  margin-bottom: 80px;
}

.reviews__swiper {
  position: relative;
  margin-top: 30px;
}

.reviews__slide {
  border: 1px solid rgba(47, 43, 67, 0.2);
  border-radius: 20px;
  min-height: 421px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__header {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 24px;
}

.reviews__header-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.reviews__header-date {
  font-size: 16px;
  opacity: 0.5;
}
.subtitle {
}
.reviews__subtitle {
}
.reviews__bottom {
  margin-bottom: 30px;
  margin-top: auto;
}
.reviews__bottom-question {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 12px;
}
.reviews__bottom-user {
  font-size: 16px;
  line-height: 150%;
  color: #33836e;
}

.reviews-button-next {
  position: absolute;
  z-index: 10000;
  right: -72px;
  top: 185px;
  cursor: pointer;
}

.reviews-button-prev {
  position: absolute;
  z-index: 10000;
  left: -72px;
  top: 185px;
  cursor: pointer;
}

.swiper {
  padding-left: 1px;
}

.portal {
  margin-bottom: 80px;
}
.container {
}
.portal__inner {
  display: flex;
  gap: 20px;
}
.portal__lawyears {
  max-width: 463px;
  width: 100%;
}
.portal__box {
  border: 1px solid rgba(47, 43, 67, 0.2);
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  min-height: 124px;
}
.portal__box-img {
}
.portal__box-content {
}
.portal__box-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.portal__box-city {
  margin-bottom: 10px;
}
.portal__box-count {
  opacity: 0.5;
}

.portal__box-btn {
  background-color: #e0ece9;
  color: #33836e;
  width: 100%;
  display: block;
  padding: 16px;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  padding: 16px;
}
.portal__form {
  background-color: #33836e;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  position: relative;
}
.portal__form-title {
  font-size: 32px;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}
.portal__form-question {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}
.portal__form-info {
  background-color: #fff;
  position: absolute !important;
  width: 115px;
  border-radius: 10px;
  top: 30px;
  right: 30px;
  text-align: center;
  padding: 5px 16px 6px 38px;
}

.online {
  position: relative;
}

.online::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #12b76a;
  border-radius: 50%;
  left: 16px;
  top: 7px;
}

.offline {
  position: relative;
}

.offline::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ef0014;
  border-radius: 50%;
  left: 16px;
  top: 7px;
}

.form {
}
.form__textarea {
  width: 100%;
  min-height: 213px;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 16px;
  display: block;
  margin-bottom: 20px;
  resize: none;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form__wrapper-number {
  position: relative;
}

.form__wrapper-number::before {
  content: 'Номер телефона';
  position: absolute;
  opacity: 0.4;
  left: 16px;
  top: 7px;
}

.form__wrapper-name {
  position: relative;
}

.form__wrapper-name::before {
  content: 'Ваше имя';
  position: absolute;
  opacity: 0.4;
  left: 16px;
  top: 7px;
}

.form__input-number {
  max-width: 205px;
  width: 100%;
  padding: 26px 16px 8px 16px;
  border-radius: 10px;
  border: none;
}
.form__input-name {
  max-width: 205px;
  width: 100%;
  padding: 26px 16px 8px 16px;
  border-radius: 10px;
  border: none;
}

.form__input-btn {
  max-width: 137px;
  width: 100%;
  color: #fff;
  background-color: #140a32;
  font-weight: 600;
  border-radius: 10px;
}
.portal__form-politic {
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 30px;
}
.portal__form-box {
  display: flex;
  gap: 42px;
}
.portal__form-ul {
}
.portal__form-li {
  margin-bottom: 10px;
  color: #fff;
}

.portal__form-bold {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
}

.directory {
}
.container {
}
.title {
}
.directory__inner {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
}
.directory__box {
}
.directory__box-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.directory__box-ul {
}
.directory__box-li {
  margin-bottom: 10px;
}
.directory__box-a {
}
